.homeContainer {
    display: flex;
    height: 100vh;
    background-color: #15202b;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

.homeLeftSection {
    display: flex;
    flex-direction: column;
    width: 25%;
    border-right: rgba(114,131,148,.455) 1px solid;
    justify-content: space-between;
}

.ContainerlogoLeft {
    width: 3rem;
    height: 3rem;
    margin-top: 2rem;
    margin-left: 3rem;
}

.logoLeft {
    width: 3rem;
    height: 3rem;
}

.ContainerUserInfos{
    margin-left: 3rem;
    margin-bottom: 3rem;
    width: 50%;
}

.firstnameLeft{
    margin-left: 2.7rem;
    font-weight: bold;
}

.usernameLeft{
    margin-left: 2.7rem;
    color: gray;
}

.avatar {
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    border: white 1px solid;
    float: left;
}

.logout{
    margin-top: 2rem;
    border-radius: 2rem;
    color: #fff;
    padding: 0.3rem;
    width: 5rem;
    height: 1.8rem;
    background-color: transparent;
    cursor: pointer;
}

.logout:hover{
    background-color: #1e2e3e;
}

.homeMiddleSection {
    display: flex;
    flex-direction: column;
    width: 50%;
    border-right: rgba(114,131,148,.455) 1px solid;
    /* padding-left: 2rem; */
    /* border: white 1px solid; */
}

.PrepTweet {
    margin-top: 1.5rem;
    width: 95%;
    height: 10rem;
    padding-left: 2rem;
}

.inputTweet {
    background-color: transparent;
    color: rgb(176, 175, 175);
    border: none;
    font-weight: 3rem;
    width: 100%;
    height: 2rem;
    font-size: 1.2rem;
    padding-left: 1rem;
}

.detailsTweet {
    padding-top: 1rem;
    display: flex;
    justify-content: flex-end;
}

.btnTweet {
    border: none;
    background-color: #409bf1;
    color:white;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    margin-left: 3rem;
    width: 6rem;
    height: 2rem;
    border-radius: 2rem;
}

.btnTweet:hover{
    background-color: #0080f9;
    color: #000;
}

.HomeTitle, .TrendTitle {
    font-size: larger;
}

.Tweet{
    border: rgba(114,131,148,.455) 1px solid;
    padding-left: 2rem;
    max-height: 13rem;
    padding-top: 1rem;
}

.HeaderTweet{
    padding-left: 3rem;
}
.usernamePost{
    color: rgb(176, 175, 175);
    font-size: small;
}

.heartIconStyle {
    padding-top: 1 rem;
    padding-bottom: 3px;
    cursor: pointer;
}

.homeRightSection {
    color: #fff;
    width: 25%;
}

.TrendContent {
    padding-left: 3rem;
    padding-top: 2rem;
}

.TrendsContainer{
    height: 70%;
    width: 90%;
    background-color: #273443;;
    border-radius: 2rem;
}

.TrendsNameTag{
    padding-top: 1rem;
    padding-left: 1rem;
}

.TrendsNumberTag{
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.separator {
    padding-top: 0px;
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.TrashIconStyle {
    padding-left: 1rem;
    padding-bottom: 3px;
    cursor: pointer;
}