.loginContainer{
    display: flex;
    flex-direction: row;
}

.loginLeftSection{
    background-image: url('https://abs.twimg.com/sticky/illustrations/lohp_1302x955.png');
    background-position: center;
    background-size: cover;

    width: 40vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center; 
}

.loginRightSection{
    width: 60vw;
    height: 100vh;

    display: flex;
    flex-direction: column;

    background-color: #15202b;
}

/* Left Section----------------------------------------------------------------------------------------------*/
.loginBackgroundImg{
    height: 100%;
    width: 100%;
}

.logoLeft{    
    width: 300px;
    height: 300px;
}

/* Right Section----------------------------------------------------------------------------------------------*/
.logoRight{
    width: 50px;
    height: 50px;
    margin-left: 30px;
}

.textContainer{
    width: 50%;
    height: 50%;
    margin-left: 30px;
}

.titleH2, .titleH3 , .text{
    color: white;
    font-weight: bold;
}

.titleH2 {
    font-size: 100px;
}


.titleH3 {
    font-size: 30px;
}

.btnSignUp{
    width: 200px;
    height: 40px;
    
    border-radius: 30px;
    border: none;

    background-color: #409bf1;
    color:white;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    cursor: pointer;
}

.btnSignIn{
    width: 200px;
    height: 40px;
    
    border-radius: 30px;
    border: 1px solid #728394;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    background-color: #15202b;
    color:#409bf1;
    font-weight: bold;

    cursor: pointer;
}